__pycache__/
*.pyc
.ipynb_checkpoints/

.venv/
venv/

*.parquet
*.csv
*.npy
*.npz
*.pkl
data/
datasets/
shards/
sequences/
data_raw/
data_processed/

models/
checkpoints/
runs/
logs/

.vscode/
.idea/
.DS_Store
.DS_Store
